<div class="form-container">
    <div class="popup-box">
        <h2>{{ personaAutorizzataInterna ? 'Modifica autorizzazione interna' : 'Nuova autorizzazione interna' }}</h2>
        <form class="form">
        <label for="persona">Persona interna:</label><br><br>
        <select id="persona" name="persona" [(ngModel)]="formData.persona" [disabled]="personaAutorizzataInterna !== null">
            @for (persona of personeInterne; track persona.id) {
                <option [ngValue]="persona.id">
                    {{ persona.cognome }} {{ persona.nome }}
                </option>
            }
        </select><br><br>
        <label for="dataInizio">Data di inizio:</label><br><br>
        <input type="date" id="dataInizio" name="dataInizio" [(ngModel)]="formData.dataInizio" [disabled]="personaAutorizzataInterna !== null" required><br><br>

        <label for="dataScadenza">Data di scadenza:</label><br><br>
        <input type="date" id="dataScadenza" name="dataScadenza" [(ngModel)]="formData.dataScadenza" required><br><br>

        <label for="divisione">Divisione:</label><br><br>
        <select id="divisione" name="divisione" [(ngModel)]="formData.divisione">
            @for (divisione of divisioni; track divisione.id) {
                <option [ngValue]="divisione.id">
                    {{ divisione.nome }}
                </option>
            }
        </select><br><br>

        <div class="popup-buttons">
            <button type="button" (click)="onSalva()" class="btn-conferma">Conferma</button>
            <button type="button" class="btn-annulla" (click)="onAnnulla()">Annulla</button>
        </div>
        </form>
    </div>
</div>
