<h1>Gestione Ingressi/Uscite</h1>

<h4>Data: {{ showOggi }}</h4>

<div class="div-aggiungi">
    <button (click)="apriForm()" class="btn-aggiungi" title="Aggiungi ingresso">
        <span class="plus-icon">+</span>
        <span>Aggiungi un ingresso</span>
    </button>
    <div class="sede-selector">
        <label>Sede:</label>
        <select [(ngModel)]="idSede" (ngModelChange)="onSedeChange()">
            @for (sede of sedi; track sede.id) {
                <option [ngValue]="sede.id">{{ sede.sede }}</option>
            }
        </select>
    </div>
</div>

@if (showForm) {
    <app-ingresso-uscite-form (salva)="salvaIngresso($event)" (annulla)="chiudiForm()" [persone]="persone" [badges]="badges" [categorie]="categorie" [personeInterne]="personeInterne" [divisioni]="divisioni"></app-ingresso-uscite-form>
}

<h2>Persone esterne presenti</h2>

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Cognome</th>
                <th>Nome</th>
                <th>Badge</th>
                <th>Targa</th>
                <th>Ora di ingresso</th>
                <th>Categoria</th>
                <th>Persona di riferimento</th>
                <th>Azienda</th>
                <th>Divisione di destinazione</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
            <!-- riga per ogni entry della tabella -->
            @for (ingresso of ingressiEsterni; track ingresso.id) {
                <tr>
                    <td>{{ ingresso.cognome }}</td>
                    <td>{{ ingresso.nome }}</td>
                    <td>{{ ingresso.badge }}</td>
                    <td>{{ ingresso.targa }}</td>
                    <td>{{ ingresso.oraIngresso }}</td>
                    <td>{{ ingresso.categoria }}</td>
                    <td>{{ ingresso.personaRiferimento }}</td>
                    <td>{{ ingresso.azienda }}</td>
                    <td>{{ ingresso.divisione }}</td>
                    <td class="button-cell">
                        <button class="btn-modifica" (click)="registraUscita(ingresso.id)" title="Registra l'uscita" [disabled]="!!ingresso.dataUscita">Registra l'uscita</button> <!-- disabilitato se già uscito-->
                    </td>
                </tr>
            }
            
            @if (ingressiEsterni.length === 0) {
            <tr>
                <td colspan="10" class="no-results">
                Nessun ingresso trovato
                </td>
            </tr>
            }

        </tbody>
    </table>
</div>

<br><br>

<h2>Persone interne presenti</h2>

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Cognome</th>
                <th>Nome</th>
                <th>Ora di ingresso</th>
                <th>Divisione di destinazione</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
            <!-- riga per ogni entry della tabella -->
            @for (ingresso of ingressiInterni; track ingresso.id) {
                <tr>
                    <td>{{ ingresso.cognome }}</td>
                    <td>{{ ingresso.nome }}</td>
                    <td>{{ ingresso.oraIngresso }}</td>
                    <td>{{ ingresso.divisione }}</td>
                    <td class="button-cell">
                        <button class="btn-modifica" (click)="registraUscita(ingresso.id)" title="Registra l'uscita" [disabled]="!!ingresso.dataUscita">Registra l'uscita</button> <!-- disabilitato se già uscito-->
                    </td>
                </tr>
            }
            
            @if (ingressiInterni.length === 0) {
            <tr>
                <td colspan="5" class="no-results">
                Nessun ingresso trovato
                </td>
            </tr>
            }

        </tbody>
    </table>
</div>

@if(showToast) {
    <app-toast [message]="toastMessage" [type]="toastType"></app-toast>
}
