<h1>Gestione Ingressi/Uscite</h1>

<div class="div-aggiungi">
    <button (click)="apriForm()" class="btn-aggiungi" title="Aggiungi ingresso">
        <span class="plus-icon">+</span>
        <span>Aggiungi un ingresso</span>
    </button>
    <div class="sede-selector">
        <label>Sede:</label>
        <select [(ngModel)]="idSede" (ngModelChange)="onSedeChange()">
            @for (sede of sedi; track sede.id) {
                <option [ngValue]="sede.id">{{ sede.sede }}</option>
            }
        </select>
    </div>
</div>

@if (showForm) {
    <app-ingresso-uscite-form (salva)="salvaIngresso($event)" (annulla)="chiudiForm()" [persone]="persone" [badges]="badges" [categorie]="categorie" [personeInterne]="personeInterne" [divisioni]="divisioni"></app-ingresso-uscite-form>
}

<table>
    <thead>
        <tr>
            <th>Cognome</th>
            <th>Nome</th>
            <th>Badge</th>
            <th>Targa</th>
            <th>Data di ingresso</th>
            <th>Data di uscita</th>
            <th>Categoria</th>
            <th>Persona di riferimento</th>
            <th>Divisione di destinazione</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        <!-- riga per ogni entry della tabella -->
         @for (ingresso of ingressi; track ingresso.id) {
            <tr>
                <td>{{ ingresso.cognome }}</td>
                <td>{{ ingresso.nome }}</td>
                <td>{{ ingresso.badge }}</td>
                <td>{{ ingresso.targa }}</td>
                <td>{{ ingresso.dataIngresso }}</td>
                <td>{{ ingresso.dataUscita }}</td>
                <td>{{ ingresso.categoria }}</td>
                <td>{{ ingresso.personaRiferimento }}</td>
                <td>{{ ingresso.divisione }}</td>
                <td class="button-cell">
                    <button class="btn-modifica" (click)="registraUscita(ingresso.id)" title="Registra l'uscita" [disabled]="!!ingresso.dataUscita">Registra l'uscita</button> <!-- disabilitato se già uscito-->
                </td>
            </tr>
         }
         
        @if (ingressi.length === 0) {
        <tr>
            <td colspan="10" class="no-results">
            Nessun ingresso trovato
            </td>
        </tr>
        }

    </tbody>
</table>

@if(showToast) {
    <app-toast [message]="toastMessage" [type]="toastType"></app-toast>
}
