<h1>Dashboard</h1>

<div class="filter-container">
    <button (click)="apriForm()" class="btn-aggiungi">Genera report</button>
    <h3>Data: {{ showOggi }}</h3>

    <div class="sedi-select">
        <p>Sede:</p>
        <select [(ngModel)]="idSede" (ngModelChange)="onSedeChange()">
            @for (sede of sedi; track sede.id) {
                <option [ngValue]="sede.id">{{ sede.sede }}</option>
            }
        </select>
    </div>
</div>

@if (showForm) {
    <app-report-form (salva)="generaReport($event)" (annulla)="chiudiForm()"></app-report-form>
}

<div class="dashboard">
    <div>
        <p>Presenti in stabilimento</p>

        <table>
            <thead>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Divisone</th>
                <th>Ora ingresso</th>
            </thead>
            <tbody>
                @for (interno of presentiInterni; track interno.id) {
                    <tr>
                        <td>{{ interno.nome }}</td>
                        <td>{{ interno.cognome }}</td>
                        <td>{{ interno.divisione }}</td>
                        <td>{{ interno.oraIngresso }}</td>
                    </tr>
                }

                @if (presentiInterni.length === 0) {
                <tr>
                    <td colspan="4" class="no-results">
                    Nessun presente trovato
                    </td>
                </tr>
                }
            </tbody>
        </table>

    </div>

    <div>
        <p>Esterni presenti in stabilimento</p>

        <table>
            <thead>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Azienda</th>
                <th>Ora ingresso</th>
            </thead>
            <tbody>
                @for (esterno of presentiEsterni; track esterno.id) {
                    <tr>
                        <td>{{ esterno.nome }}</td>
                        <td>{{ esterno.cognome }}</td>
                        <td>{{ esterno.azienda }}</td>
                        <td>{{ esterno.oraIngresso }}</td>
                    </tr>
                }

                @if (presentiEsterni.length === 0) {
                <tr>
                    <td colspan="4" class="no-results">
                    Nessun presente trovato
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    <div>
        <p>Badge non consegnati</p>

        <table>
            <thead>
                <th>Codice</th>
                <th>Ora prestito</th>
                <th>Nominativo prestito</th>
            </thead>
            <tbody>
                @for (badge of badges; track badge.id) {
                    <tr>
                        <td>{{ badge.codice }}</td>
                        <td>{{ badge.oraPrestito }}</td>
                        <td>{{ badge.nominativoPrestito }}</td>
                    </tr>
                }

                @if (badges.length === 0) {
                <tr>
                    <td colspan="3" class="no-results">
                    Nessun badge trovato
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    <div>
        <p>Chiavi non consegnate</p>

        <table>
            <thead>
                <th>Codice</th>
                <th>Ora prestito</th>
                <th>Nominativo prestito</th>
            </thead>
            <tbody><!--
                @for (chiave of chiavi; track chiave.id) {
                    <tr>
                        <td>{{ chiave.codice }}</td>
                        <td>{{ chiave.oraPrestito }}</td>
                        <td>{{ chiave.nominativoPrestito }}</td>
                    </tr>
                }-->

                @if (chiavi.length === 0) {
                <tr>
                    <td colspan="3" class="no-results">
                    Nessuna chiave trovata
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    <div>
        <div class="sedi-select">
            <p>Accessi interni in stabilimento (per fascia oraria)</p>
            <label>Da:</label>
            <input type="time" [(ngModel)]="oraInizioInterni" (ngModelChange)="onOrarioChange()">

            <label>A:</label>
            <input type="time" [(ngModel)]="oraFineInterni" (ngModelChange)="onOrarioChange()">
        </div>

        <table>
            <thead>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Divisione</th>
                <th>Ora ingresso</th>
                <th>Ora uscita</th>
            </thead>
            <tbody>
                @for (accesso of accessiInterni; track accesso.id) {
                    <tr>
                        <td>{{ accesso.nome }}</td>
                        <td>{{ accesso.cognome }}</td>
                        <td>{{ accesso.divisione }}</td>
                        <td>{{ accesso.oraIngresso }}</td>
                        <td>{{ accesso.oraUscita }}</td>
                    </tr>
                }

                @if (accessiInterni.length === 0) {
                <tr>
                    <td colspan="5" class="no-results">
                    Nessun accesso trovato
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    <div>
        <div class="sedi-select">
            <p>Accessi esterni in stabilimento (per fascia oraria)</p>
            <label>Da:</label>
            <input type="time" [(ngModel)]="oraInizioEsterni" (ngModelChange)="onOrarioChange()">

            <label>A:</label>
            <input type="time" [(ngModel)]="oraFineEsterni" (ngModelChange)="onOrarioChange()">
        </div>

        <table>
            <thead>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Azienda</th>
                <th>Ora ingresso</th>
                <th>Ora uscita</th>
            </thead>
            <tbody>
                @for (accesso of accessiEsterni; track accesso.id) {
                    <tr>
                        <td>{{ accesso.nome }}</td>
                        <td>{{ accesso.cognome }}</td>
                        <td>{{ accesso.azienda }}</td>
                        <td>{{ accesso.oraIngresso }}</td>
                        <td>{{ accesso.oraUscita }}</td>
                    </tr>
                }

                @if (accessiEsterni.length === 0) {
                <tr>
                    <td colspan="5" class="no-results">
                    Nessun accesso trovato
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

</div>

@if(showToast) {
    <app-toast [message]="toastMessage" [type]="toastType"></app-toast>
}