<h1>Dashboard</h1>

<div class="filter-container">
    <h3>Data: {{ showOggi }}</h3>

    <div class="sedi-select">
        <p>Sede:</p>
        <select [(ngModel)]="idSede" (ngModelChange)="onSedeChange()">
            @for (sede of sedi; track sede.id) {
                <option [ngValue]="sede.id">{{ sede.sede }}</option>
            }
        </select>
    </div>
</div>

<div class="dashboard">
    <div>
        <p>Presenti in stabilimento</p>

        <table>
            <thead>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Divisone</th>
                <th>Ora ingresso</th>
            </thead>
            <tbody>
                @for (interno of presentiInterni; track interno.id) {
                    <tr>
                        <td>{{ interno.nome }}</td>
                        <td>{{ interno.cognome }}</td>
                        <td>{{ interno.divisione }}</td>
                        <td>{{ interno.oraIngresso }}</td>
                    </tr>
                }

                @if (presentiInterni.length === 0) {
                <tr>
                    <td colspan="4" class="no-results">
                    Nessun presente trovato
                    </td>
                </tr>
                }
            </tbody>
        </table>

    </div>

    <div>
        <p>Esterni presenti in stabilimento</p>

        <table>
            <thead>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Azienda</th>
                <th>Ora ingresso</th>
            </thead>
            <tbody>
                @for (esterno of presentiEsterni; track esterno.id) {
                    <tr>
                        <td>{{ esterno.nome }}</td>
                        <td>{{ esterno.cognome }}</td>
                        <td>{{ esterno.azienda }}</td>
                        <td>{{ esterno.oraIngresso }}</td>
                    </tr>
                }

                @if (presentiEsterni.length === 0) {
                <tr>
                    <td colspan="4" class="no-results">
                    Nessun presente trovato
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    <div>
        <p>Badge non consegnati</p>

        <table>
            <thead>
                <th>Codice</th>
                <th>Ora prestito</th>
                <th>Nominativo prestito</th>
            </thead>
            <tbody>
                @for (badge of badges; track badge.id) {
                    <tr>
                        <td>{{ badge.codice }}</td>
                        <td>{{ badge.oraPrestito }}</td>
                        <td>{{ badge.nominativoPrestito }}</td>
                    </tr>
                }

                @if (badges.length === 0) {
                <tr>
                    <td colspan="3" class="no-results">
                    Nessun badge trovato
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    <div>
        <p>Chiavi non consegnate</p>

        <table>
            <thead>
                <th>Codice</th>
                <th>Ora prestito</th>
                <th>Nominativo prestito</th>
            </thead>
            <tbody><!--
                @for (chiave of chiavi; track chiave.id) {
                    <tr>
                        <td>{{ chiave.codice }}</td>
                        <td>{{ chiave.oraPrestito }}</td>
                        <td>{{ chiave.nominativoPrestito }}</td>
                    </tr>
                }-->

                @if (chiavi.length === 0) {
                <tr>
                    <td colspan="3" class="no-results">
                    Nessuna chiave trovata
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    <div>
        <p>Accessi in stabilimento (per fascia oraria)</p>

        <table>
            <thead>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Azienda/Divisione</th>
                <th>Ora ingresso</th>
                <th>Ora uscita</th>
            </thead>
            <tbody>
                @for (accesso of accessi; track accesso.id) {
                    <tr>
                        <td>{{ accesso.nome }}</td>
                        <td>{{ accesso.cognome }}</td>
                        <td>{{ accesso.azienda ?? accesso.divisione }}</td>
                        <td>{{ accesso.oraIngresso }}</td>
                        <td>{{ accesso.oraUscita }}</td>
                    </tr>
                }

                @if (accessi.length === 0) {
                <tr>
                    <td colspan="5" class="no-results">
                    Nessun accesso trovato
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

</div>