<h1>Visualizzazione anagrafe delle sedi</h1>

<button (click)="apriForm()" class="btn-aggiungi" title="Aggiungi sede">
    <span class="plus-icon">+</span>
    <span>Aggiungi una nuova sede</span>
</button><br><br>
@if (showForm) {
    <app-sede-form [sede]="sedeInModifica" (salva)="salvaSede($event)" (annulla)="chiudiForm()"></app-sede-form>
}


@if (showDeletePopup) {
    <div class="form-container">
        <div class="popup-box">
            <h2>Conferma eliminazione</h2>

            <p>Vuoi davvero eliminare questa sede?</p>

            <div class="popup-buttons">
                <button type="button" class="btn-conferma" (click)="confermaEliminazione()" title="Conferma">Sì</button>
                <button type="button" class="btn-annulla" (click)="chiudiPopupElimina()" title="Annulla">No
                </button>
            </div>
        </div>
    </div>
}


<div class="search-container">
    <select [(ngModel)]="campoRicerca">
        <option value="sede">Sede</option>
        <option value="ufficio">Ufficio</option>
    </select>

    <input type="text" [(ngModel)]="testoRicerca" (keyup.enter)="cercaSedi()" placeholder="Cerca...">
    <button type="button" (click)="cercaSedi()" title="Cerca sede">Cerca</button>
    <button type="button" (click)="resettaRicerca()" title="Reset">Reset</button>
</div>

<table>
    <thead>
        <tr>
            <th>Sede</th>
            <th>Ufficio</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        <!-- riga per ogni entry della tabella -->
         @for (sede of sedi; track sede.id) {
            <tr>
                <td>{{ sede.sede }}</td>
                <td>{{ sede.ufficio }}</td>
                <td class="button-cell">
                    <button class="btn-modifica" (click)="modificaSede(sede)" title="Modifica sede">Modifica</button>
                    <button class="btn-elimina" (click)="apriPopupElimina(sede.id)" title="Elimina sede">Elimina</button>
                </td>
            </tr>
         }
         
        @if (sedi.length === 0) {
        <tr>
            <td colspan="3" class="no-results">
            Nessuna sede trovata
            </td>
        </tr>
        }

    </tbody>
</table>

@if(showToast) {
    <app-toast [message]="toastMessage" [type]="toastType"></app-toast>
}
