<h1>Sedi</h1>

<button (click)="apriForm()" class="btn-aggiungi">Aggiungi una nuova sede</button><br><br>
@if (showForm) {
    <app-sede-form [sede]="sedeInModifica" (salva)="salvaSede($event)" (annulla)="chiudiForm()"></app-sede-form>
}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Sede</th>
            <th>Ufficio</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        <!-- riga per ogni entry della tabella -->
         @for (sede of sedi; track sede.id) {
            <tr>
                <td>{{ sede.id }}</td>
                <td>{{ sede.sede }}</td>
                <td>{{ sede.ufficio }}</td>
                <td class="button-cell">
                    <button class="btn-modifica" (click)="modificaSede(sede)">Modifica</button>
                    <button class="btn-elimina" (click)="eliminaSede(sede.id)">Elimina</button>
                </td>
            </tr>
         }
    </tbody>
</table>
