<div class="form-container">
    <div class="popup-box">
        <h2>Aggiungi una nuova sede</h2>
        <form class="form">
        <label for="sede">Sede:</label><br>
        <input type="text" id="sede" name="sede" [(ngModel)]="sede.sede" required><br><br>
        <label for="ufficio">Ufficio:</label><br><br>
        <input type="text" id="ufficio" name="ufficio" [(ngModel)]="sede.ufficio" required><br><br>

        <div class="popup-buttons">
            <button type="button" (click)="onSalva()" class="btn-conferma">Conferma</button>
            <button type="button" class="btn-annulla" (click)="onAnnulla()">Annulla</button>
        </div>
        </form>
    </div>
</div>
