<div class="form-container">
    <div class="popup-box">
        <h2>{{ operatore ? 'Modifica operatore' : 'Nuovo operatore' }}</h2>
        <form class="form">
        <label for="nome">Nome:</label><br><br>
        <input type="text" id="nome" name="nome" [(ngModel)]="formData.nome" required><br><br>
        <label for="cognome">Cognome:</label><br><br>
        <input type="text" id="cognome" name="cognome" [(ngModel)]="formData.cognome" required><br><br>

        <div class="popup-buttons">
            <button type="button" (click)="onSalva()" class="btn-conferma">Conferma</button>
            <button type="button" class="btn-annulla" (click)="onAnnulla()">Annulla</button>
        </div>
        </form>
    </div>
</div>
